<section id="pantalla-dividida">
    <div class="izquierda">
        <div class="col-md-12">
            <div class="reasons text-lg-center">
                <img src="assets/img/log.png" class="img-fluid" alt="Responsive image">
            </div>
        </div>
    </div>
    <div class="derecha">
        <div class="form-row">
            <div class="col-md-12">
                <div class="reasons-btn text-lg-right mt-5 ">
                    <!-- <button mat-flat-button class="btn-colorr" routerLink="/user/register">Registrate como
                        inversionista</button> <br>
                    <button mat-flat-button class="btn-colorr" routerLink="/user/register">Registrate como empresario
                    </button> -->

                    <div class="reasons-btn mt-5">
                        <h2>Iniciar Sesion</h2> <br>
                        <!--  <button mat-flat-button class="btn-color" routerLink="/esp/info-invers">¿Eres
                            Inversionista?</button>
                        <span class="example-icon"></span>
                        <button mat-flat-button class="btn-color" routerLink="/esp/info-help">¿Necesitas apoyo?</button> -->
                        <div style="color: beige !important;">

                            <p >
                                <mat-form-field appearance="legacy">
                                    <mat-label class="textw">Usuario</mat-label>
                                    <input class="textw" matInput placeholder="Angel" >
                                    
                                    <mat-hint class="textw"></mat-hint>
                                </mat-form-field>
                            </p>
                            <p style="color: beige;">
                                <mat-form-field appearance="standard">
                                    <mat-label class="textw">Contraseña</mat-label>
                                    <input matInput placeholder="Placeholder">
                                    
                                    <mat-hint class="textw"></mat-hint>
                                </mat-form-field>
                            </p>
                           

                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--  <div class="row container">
            <div class="col-md-6">
                <div class="reasons text-lg-center">
                    <img src="assets/img/log.png" class="img-fluid" alt="Responsive image">
                </div>
            </div>
            <div class="col-md-6">
                <div class="reasons-btn">
                    <h2>¿Que estas buscando?</h2> <br>
                    <button mat-flat-button class="btn-color" routerLink="/esp/info-invers">¿Eres
                        Inversionista?</button>
                    <span class="example-icon"></span>
                    <button mat-flat-button class="btn-color" routerLink="/esp/info-help">¿Necesitas apoyo?</button>
                </div>
            </div>
        </div>  -->

</section>