.example-icon {
    padding: 0 5px;
  }

.izquierda{
  background-image:  linear-gradient(#1c1c6c, #1c1c6c);
  height: 100vh;
  width: 50%;
}

.derecha{
  background-image:  linear-gradient(#1c1c6c, #1c1c6c);
  background-size: cover ;
  background-position: center;
  width: 50%;
  height: 100vh;
}

#pantalla-dividida{
  display: flex;
}

  .reasons{
      text-align: center;
  }

  .reasons-btn{
    padding: 17px;
      text-align: center;
  }

  b{
    cursor:pointer;
  }

  h2{
    color: #e3ddd5;
    font-size: 3em;
  }

  a{
    color: #e3ddd5;
    font-size: 1em;
  }
  b{
    color: #8c8c8c;
    font-size: 1em
  }

  .btn-color {
    color: #318aac !important;
    /* font-size: 15px; */
    /* font-weight: 500;  */
    /* padding: 0.5em 1.2em; */
    background: rgba(0,0,0,0);
    border: 2px solid;
    border-color: #318aac;
    transition: all 1s ease;
  }
  .btn-color:hover {
    background: #318aac;
    color: #fff !important;
  }

  .btn-colorr {
    color: #5d686b !important;
    font-size: 15px;
    font-weight: 500;
    padding: 0.5em 1.2em;
    background: rgba(0,0,0,0);
    transition: all 1s ease;
  }
  .btn-colorr:hover {
    background: #5d686b;
    color: #fff !important;
  }