<div class="container">
    <div class="row">
        <div class="col-md-4">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>PLAN PREMIUM</mat-card-title>
                    <mat-card-subtitle>$1500.00 + IVA MXM</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        CONTACTOS ILIMITADOS 
                    </p>
                    <P>
                        CONTACTO CON NEGOCIOS ILIMITADOS
                    </P>
                    <P>
                        VISIBILIDAD TOTAL DE CONTACTOS
                    </P>
                </mat-card-content>
                <mat-card-actions>
                    <div class="text-lg-right">
                        <button mat-stroked-button class="btn-colorRe" routerLink="/pay">Ver Resultados</button>
                    </div>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col-md-4">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>PLAN DESTACADO</mat-card-title>
                    <mat-card-subtitle>$1000.00 + IVA MXM</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        CONTACTOS ILIMITADOS
                    </p>
                    <P>
                        CONTACTO CON NEGOCIOS ILIMITADOS
                    </P>
                    <P>
                        VISIBILIDAD TOTAL DE CONTACTOS
                    </P>
                </mat-card-content>
                <mat-card-actions>
                    <div class="text-lg-right">
                        <button mat-stroked-button class="btn-colorRe" routerLink="/pay">Ver Resultados</button>
                    </div>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col-md-4">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>PLAN ESTANDAR</mat-card-title>
                    <mat-card-subtitle>$500.00 + IVA MXM</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        CONTACTOS ILIMITADOS
                    </p>
                    <P>
                        CONTACTO CON NEGOCIOS ILIMITADOS
                    </P>
                    <P>
                        VISIBILIDAD TOTAL DE CONTACTOS
                    </P>
                </mat-card-content>
                <mat-card-actions>
                    <div class="text-lg-right">
                        <button mat-stroked-button class="btn-colorRe" routerLink="/pay">Ver Resultados</button>
                    </div>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>

</div>