.example-card {
  max-width: 400px;
}



.btn-colorRe {
  color: #57409F !important;
  font-weight: 500;
  background: rgba(0,0,0,0);
  border: 2px solid;
  border-color: #57409F;
  transition: all 1s ease;
  position: relative;
}
.btn-colorRe:hover {
  background: #57409F;
  color: #fff !important;
}
