<div class="container">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>
        <div class="reasons">
          <h2>¿QUE TIPO DE INVSERSIÓN NECESITAS?</h2>
        </div>
      </mat-card-title>
    </mat-card-header>
    <mat-tab-group mat-align-tabs="center" class="container">
      <mat-tab label="Liquidez">
        <h3>Deseas Invertir</h3>
        <p>
          Para la obtención de inveritr te pondremos en contacto con un Negocio
          de tu interes.
        </p>
        <h3>¿Como Funciona?</h3>
        <p>
          Ingresa los datos del negocio donde deseas invertir, y serás
          contactado con el negocio que estes interesado en poner tu inversión,
          es importante daber el porcentaje de utilidad que
          ofrece a tu nuevo socio por la inyección de Capital, esto lo hara
          atractivo.
        </p>
        <div class="text-lg-right">
          <button
            mat-stroked-button
            class="btn-colorRe"
            routerLink="/user/register/investment"
          >
            Registarte
          </button>
        </div>
      </mat-tab>
      <mat-tab label="Buscas un traspaso">
        <h3>Buscas un Traspaso de Negocio?</h3>
        <p>Para un traspaso te ponemos en contacto con negocios interesados.</p>
        <h3>¿Como Funciona?</h3>
        <p>
          Ingresa los datos y caracteristicas basicas del negocio para realizar
          una busqueda especial, cantactando a los negocios de tu preferencia,
          poder cerrar el trato de mejor manera, no esperes mas.
        </p>
        <div class="text-lg-right">
          <button
            mat-stroked-button
            class="btn-colorRe"
            routerLink="/user/register/investment">
            Registarte
          </button>
        </div>
      </mat-tab>
      <mat-tab label="Comprar Equipamiento">
        <h3>¿Necesitas Equipamiento para tu Negocio?</h3>
        <p>
          Si buscas equipo y Mobiliario para tu Negocio, este es el sitio
          perfecto para encontrar equipos en buena calidad buscando desde
          filtros especificos, de acuerdo, a tus necesidades.
        </p>
        <h3>¿Como Funciona?</h3>
        <p>
          Ingresa los datos y Mobiliario y/o Equipo que buscas para tu negocio,
          encontraras mobiliario que cumplan tu requisiquitos y poder cerrar el
          trato con personas de confianza.
        </p>
        <div class="text-lg-right">
          <button
            mat-stroked-button
            class="btn-colorRe"
            routerLink="/user/register/investment">
            Registarte
          </button>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>
