<div class="container">
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title>
                    <h2>¿QUE TIPO DE AYUDA NECESITAS?</h2>
            </mat-card-title>
        </mat-card-header>
        <mat-tab-group mat-align-tabs="center" class="container">
            <mat-tab label="Liquidez" >
                <app-liquidity></app-liquidity>
            </mat-tab>
            <mat-tab label="Realizar un traspaso">
                <app-sale></app-sale>
            </mat-tab>
            <mat-tab label="Vender Equipamiento">
                <app-sale-equipment></app-sale-equipment>
            </mat-tab>
        </mat-tab-group>
    </mat-card>
</div>