
.containers .mat-form-field  {
  margin-left: 8px;
}

.main-container {
  width: 100%;
  padding-right: 60px;
  padding-left: 40px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  display:block;
}

h3{
  text-align: center;
}

p{
  text-align: justify;
  margin: 10px 0 16px;
}


.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.btn-colorRe {
  color: #57409F !important;
  font-weight: 500;
  background: rgba(0,0,0,0);
  border: 2px solid;
  border-color: #57409F;
  transition: all 1s ease;
  position: relative;
}
.btn-colorRe:hover {
  background: #57409F;
  color: #fff !important;
}