<div class="main-container">
    <p>¿Necesitas Vender Equipamiento de tu Negocio?
        <span>Si te quedaste con el equipo y Mobiliario de tu Negocio que has decidido cerrar, puedes publicar la venta
            de dicho equipamiento y te ponemos en contacto con la gente interesada en adquirir tus activos:Mobiliario
            y/o Equipo.
        </span>
    </p>
    <h3>¿Como Funciona?</h3>
    <span>Ingresa los datos y Mobiliario y/o Equipo de tu negocio para que miles de personas encuentren lo que
        necesitan, solicitarán contactar contigo y comenzaran la oferta.</span>
</div>
<form [formGroup]="formSale">
    <div class="main-container">
        <div class="form-row">
            <div class="form-group col-md-4">
                <mat-form-field hintLabel="Max 10 characters" appearance="outline" class="example-full-width">
                    <mat-label>Nombre del Negocio*</mat-label>
                    <input matInput #input maxlength="10" placeholder="Nombre de tu negocio"
                        formControlName="nombre">
                </mat-form-field>
            </div>
            <div class="form-group col-md-4">
                <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Tipo de Negocio*</mat-label>
                    <mat-select formControlName="tipoNegocio">
                        <mat-option value="option">Option</mat-option>
                        <mat-option value="option">Option1</mat-option>
                        <mat-option value="option">Option2</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="form-group col-md-4">
                <mat-form-field  appearance="outline" class="example-full-width">
                    <mat-label>Monto Total del Mobiliario*</mat-label>
                    <input matInput placeholder="$ 100,000.00" formControlName="monto">
                </mat-form-field>
            </div>
        </div>
        <div class="form-group">
            <mat-form-field hintLabel="Max 60 characters" appearance="outline" class="example-full-width">
                <mat-label>¿Ubicación del Negocio?*</mat-label>
                <input matInput #input maxlength="60" placeholder="Jalisco" formControlName="ubicacion">
            </mat-form-field>
        </div>
        <div class="form-group ">
            <mat-form-field hintLabel="Max 200 characters" appearance="outline" class="example-full-width">
                <mat-label>Describe o Lista el Mobiliario y/o Equipo a vender*</mat-label>
                <textarea matInput  #input maxlength="200" placeholder="Lista del Mobilario" formControlName="descripcion"></textarea>
            </mat-form-field>
        </div>
        <div class="col-12">
            <div class="form-group"> 
                <label for="file" class="labels">Selecciona tu nueva imagen:</label>
                <input #fileInput name="files[]" type="file" (change)="onFileSelected($event)"
                    accept="application/jpeg">        
            </div>
        </div>
      
          <div class="text-lg-right">
            <button mat-stroked-button class="btn-colorRe" (click)="consultar()">Publicar</button>
          </div>
    </div>
</form>